<ion-view view-title="Listes"><ion-content class="scroll-content ionic-scroll has-header">
    <div class="row">
      <h1>
        Créer une liste courses
      </h1>
    </div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="list">
      <label class="item item-input item-floating-label"><span class="input-label">Titre</span><input ng-model="list.title" placeholder="Titre" type="text" /></label><label class="item item-input item-floating-label"><span class="input-label">Description</span><input ng-model="list.description" placeholder="Description" type="text" /></label><label class="item item-input item-floating-label"><span class="input-label">Votre Nom</span><input ng-model="list.user" placeholder="Votre Nom" type="text" /></label><label class="item item-input item-floating-label"><span class="input-label">Adresse e-mail</span><input ng-model="list.email" placeholder="Adresse e-mail" type="text" /></label>
    </div>
    <div class="row">
      <div class="col col-33 col-offset-67">
        <button class="button button-positive" ng_click="create_list_step_0()">Etape suivante</button>
      </div>
    </div>
  </ion-content></ion-view>
