<ion-view view-title="Listes"><ion-content class="scroll-content ionic-scroll has-header">
    <div class="row">
      <h1>
        Votre list est pubilée
      </h1>
    </div>
    <div class="row"></div>
    <div class="card">
      <div class="item item-text-wrap">
        <center>
          <h1>
            Félicitations !
          </h1>
          Votre liste de course vient d'être publiée. <br />Vous pouvez l'administrer à tout moment en suivant le lien suivant :<br /><a href="#">http://www.ceciestunlienunique123.com</a><br />De même, le lien de partage de votre <br />liste est le suivant :<br /><a href="#">http://www.ceciestunlienunique456.com</a></center>
      </div>
    </div>
    <div class="col col-33 col-offset-67">
      <button class="button button-positive" ng_click="create_list_finsh_step_confirm_message()">Etape suivante</button>
    </div>
  </ion-content></ion-view>
