<ion-view view-title="Listes"><ion-content class="scroll-content ionic-scroll has-header">
    <div class="row">
      <h1>
        Créer une liste courses
      </h1>
    </div>
    <div class="row">
      <span>4 Message</span>
    </div>
    <div class="row">
      <center>
        <div class="card">
          <div class="item item-text-wrap">
            Bonjour,<br />Je viens de partager une liste de course avec vous via NOMAPPLI !<br />Vous pouvez la consulter en suivant le lien !<br />*Nom Renseigné*
          </div>
        </div>
      </center>
    </div>
    <div class="row">
      <div class="col col-33 col-offset-67">
        <button class="button button-positive" ng_click="create_list_finsh_step_message()">Publier</button>
      </div>
    </div>
  </ion-content></ion-view>
