<ion-view view-title="Listes"><ion-content class="scroll-content ionic-scroll has-header" ng_controller="ContactsCtrl">
    <div class="row">
      <h1>
        Créer une liste courses
      </h1>
    </div>
    <div class="row">
      <span>3 Partager</span>
    </div>
    <div class="row" ng_repeat="c in contacts.sync">
      <span ng_bind="c.mail"></span>
    </div>
    <div class="row" style="padding-top:50px">
      <div class="col" style="width:100%;border:1px solid #ddd;border-right:0px">
        <input ng-blur="add_contact()" ng-enter="add_contact()" ng_model="contact.mail" placeholder="Ajouter une adresse mail" type="text" width="100%" />
      </div>
    </div>
    <div class="row">
      <div class="col col-33 col-offset-67">
        <button class="button button-positive" ng_click="create_list_finsh_step_sheare()">Etape suivante</button>
      </div>
    </div>
  </ion-content></ion-view>
