<ion-view view-title="Listes"><ion-content class="scroll-content ionic-scroll has-header">
    <div class="row">
      <h1>
        Créer une liste courses
      </h1>
    </div>
    <div class="row">
      <span>2 liste de course</span>
    </div>
    <div class="row">
      <div class="col col-33" style="width:100%;border:1px solid #ddd;border-right:0px">
        <input placeholder="Produit" type="text" />
      </div>
      <div class="col col-33" style="width:100%;border:1px solid #ddd;border-right:0px">
        <input placeholder="Quantité" type="text" />
      </div>
      <div class="col col-33" style="width:100%;border:1px solid #ddd">
        <input placeholder="Unité" type="text" />
      </div>
    </div>
    <div class="row">
      <div class="col col-33 col-offset-67">
        <button class="button button-positive" ng_click="create_list_step_0()">Etape suivante</button>
      </div>
    </div>
  </ion-content></ion-view>
