<ion-view view-title="Listes"><ion-content class="scroll-content ionic-scroll has-header">
    <div class="row">
      <div class="col col-33 col-offset-33" style="height:300px"></div>
    </div>
    <div class="row">
      <div class="col col-33 col-offset-33">
        <button class="button button-positive" ng_click="create_list()">Créer une liste de course</button>
      </div>
    </div>
    <div class="row">
      <div class="col col-33 col-offset-33">
        <span>Todo créer votre liste de course typo ou img</span>
      </div>
    </div>
  </ion-content></ion-view>
