ion-view view-title="Listes"
  ion-content.scroll-content.ionic-scroll.has-header
    /ng_controller="ItemsCtrl"
    /.ion-list
    /h1 title
    .row
      .col.col-50
        h2 Soirée Raclette
      .col.col-50 

        button.button.button-positive(
          style='float:right'
        )
          | User Name
        button.button.button-clear.button-positive(
          style='float:right'
        )
          | User auie
    /h1 description
    .row
      .col.col-67.col-offset-33
        p  lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem loremlorem
    .row(
      ng_controller='ColaborateCtrl'

      style='background-color:#eef'
      )
      .col
        .row(
            style='padding-bottom:50px'

          )
          .col.col-50
            .button-bar
              a.button.button-energized Je vais acheter
              a.button.button-outline.button-energized J'ai acheté
          .col.col-col50
            button.button.button-balanced(
              style='float:right'
            )
              | Edition

        /h1 item zone
        .row(
            ng_repeat='i in items.sync'
            style='padding-bottom:15px'
          )
          p(
            style='background-color:#fff;height:34px;margin:0;width:90%;padding:8px 0 0 20px '
          )
            span ng_bind='i.product'
            span &nbsp;-&nbsp;&nbsp;
            span ng_bind='i.quantity'
            span &nbsp;
            span ng_bind='i.unity'
          button.button.button-small.button-positive(
            style='width:10%;float:right'
          )
            | JMC


        .row
          h1 add new zon
        .row
          h1 messages zone
