ion-view view-title="Listes"
  ion-content.scroll-content.ionic-scroll.has-header
    /.ion-list

    /.row.row-center
    .row
      .col.col-33.col-offset-33 style="height:300px"
    .row
      .col.col-33.col-offset-33 
        button.button.button-positive(
          ng_click="create_list()"
        )
          | Créer une liste de course
    .row
      .col.col-33.col-offset-33 
        span Todo créer votre liste de course typo ou img
