ion-view view-title="Poses"
  ion-content
    .row
      .col
        img(
          src="http://www.madeinjoaillerie.fr/wp-content/uploads/2010/12/erin-wason-bijoux-low-luv-x-wardrobe.jpg" 
          width="100%"
        )
      .col
        img(
          src="http://www.madeinjoaillerie.fr/wp-content/uploads/2010/12/erin-wason-bijoux-low-luv-x-wardrobe.jpg" 
          width="100%"
        )
    .row
      .col
        img(
          src="http://www.madeinjoaillerie.fr/wp-content/uploads/2010/12/erin-wason-bijoux-low-luv-x-wardrobe.jpg" 
          width="100%"
        )
      .col
        img(
          src="http://www.madeinjoaillerie.fr/wp-content/uploads/2010/12/erin-wason-bijoux-low-luv-x-wardrobe.jpg" 
          width="100%"
        )
    .row
      .col
        img(
          src="http://www.madeinjoaillerie.fr/wp-content/uploads/2010/12/erin-wason-bijoux-low-luv-x-wardrobe.jpg" 
          width="100%"
        )
      .col
        img(
          src="http://www.madeinjoaillerie.fr/wp-content/uploads/2010/12/erin-wason-bijoux-low-luv-x-wardrobe.jpg" 
          width="100%"
        )
